{
  "apiUrl": "http://localhost:4000",
  "adminEmail": "admin@bugboard.dev",
  "adminPassword": "Password123!",
  "memberEmail": "dev@bugboard.dev",
  "memberPassword": "Password123!",
  "project": "WEB"
}
